@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    background-color: rgb(51 65 85);
    width: 15px;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(71 85 105);
    border-radius: 30px;
}

#mainText {
    background-clip: border-box;
    background: linear-gradient(to right, #3B82F6, #8B5CF6);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.green-pink-gradient {
    background: #45e8b8;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
    background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}